{{- /*gotype:codeberg.org/korve/phissile/pkg.ConstantNamingSchema*/ -}}
<h5>{{translate "rule.constant_value_naming_schema.title" }}</h5>

{{translate "rule.constant_value_naming_schema.value" "Schema" (.Schema | toString) }}