:root {
    --pm-primary-color: #347ab6;
    --pm-secondary-color: #a7c7e3;
    --pm-app-surface-color: transparen;
    --pm-mark-border-radius: 0px;
    --pm-button-border-radius: 0px;
    --pm-input-border-radius: 0px;
    --pm-input-border-width: 1px;
    --pm-app-ground-color: #F5F5F5FF;
    --pm-font-family-secondary: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    --pm-app-base-font-size: 16px;
    --pm-paragraph-margin-bottom: 24px;
    --pm-headings-margin: 0 0 8px 0;
    --pm-list-item-margin-bottom: 12px;
    --pm-app-line-height: 1.2;
    --pm-app-container-padding: 14px;
    --pm-button-padding: 0;
    --pm-button-min-width: 130px;
    --pm-button-min-height: 35px;
    --pm-button-font-weight: 400;
    --pm-button-margin-bottom: 8px;
    --pm-label-margin-bottom: 8px;
    --pm-pre-code-border-radius: 4px;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}